.toplevel_page_accesswise-settings {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
	}

	img {
		width: 100%;
	}

	.icon {
		height: 25px;
		width: 25px;
	}

	.pointer {
		cursor: pointer;
	}

	.el-select__selection {
		input[type="text"] {
			border: none;
			outline: none;
			box-shadow: none;
			border-color: transparent;
			background-color: transparent;
			padding: 0;
		}
	}

	.el-input__inner {
		border: none;
		outline: none;
		box-shadow: none;
		padding: 0;
	}

	#accesswise-dashboard-app {
		.el-input__inner {
			border: none;
			outline: none;
			box-shadow: none;
			padding: 0;
		}
	}

	#wpwrap {
		background-color: #F8F9F8;
	}

	#wpcontent {
		padding-left: 0;
	}

	#wpbody-content {
		padding-bottom: unset;
	}

	#accesswise-dashboard-app {
		height: 100%;
	}

	.wrap {
		background-color: #F8F9F8;
		margin: 0;
		// height: calc(100vh - 32px);
		// min-height: 1080px;
	}

	#wpfooter {
		display: none;
	}
}